
/* checkbox 
================================================== */

.checks {
    position: relative;

    input[type="checkbox"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;

        & + label {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            user-select: none;

            // 가짜 체크박스 
            &:before { 
                content: '';
                position: absolute;
                left: 0;
                top: 0; 
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;  
                background: #fafafa;
                border: 1px solid #cacece;
                border-radius : 3px;
            }
        }

        // 체크박스를 체크했을때
        &:checked + label:before {
            content: '\2714';
            // background: $input-focus-border-color url(../images/check_white.png) no-repeat center center;
            background-size: 12px;
            border-color: $input-focus-border-color;
        }
    }
}
